/* Empty. Add your own CSS if you like */

a {
  color: #76B4BD !important;
}

.bar-positive {
  background-color: #f85289 !important;
  border-color: #FF0054 !important;
  background-image: linear-gradient(0deg, #f85289, #f85289 50%, transparent 50%) !important;
}

.bar-searchbox {
  height: 95px;
}

.item-searchbox-bar {
  position: absolute;
  top: 40px;
  border: none;
  padding: 10px;
}

.item-searchbox-bar i {
  background-color: white;
  padding: 9px;
}

.item-searchbox-bar input {
  background-color: white;
}

.home-banner {
  background-image: url(http://www.reasonwhy.es/sites/default/files/cocacola-reasonwhy.es_.jpg);
  color: white;
  padding: 35px 15px 15px 15px;
}

.home-banner h2{
  color: white;
  font-size: 32px;
}

.home-banner span {
  font-size: 20px;
}

.content-bar-searchbox {
  padding-top: 40px;
}

.popular-product-link {
  display: block;
}

.ion-ripple {
  background-color: #ccc;
}

.popular-product .image-container {
  width: 30%;
  float: left;
}

.popular-product .image-container img {
  box-shadow: none;
}

.popular-product-data {
  width: 65%;
  float: left;
}

.popular-product-data h3 {
  padding: 10px 10px 0 0;
}

.detail-image-container {
  height: 300px;
  overflow: hidden;
  text-align: center;
}

.detail-image-container img {
  height: 300px;
}

.detail-data {
  width: 60%;
  float: left;
}

.detail-data p {
  padding: 0 15px;
  font-size: 18px;
}

.detail-data p span {
  font-size: 16px;
}

.detail-price {
  width: 40%;
  float: left;
}

.detail-price p {
  padding: 15px;
  font-size: 48px;
  text-align: center;
}

.number-spinner {
  display: block;
  width: 45px;
  margin: auto;
}

.number-spinner span {
  display: block;
  width: 45px;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0 10px;
}

.number-spinner input {
  text-align: center;
}

.button-energized-900 {
  background-color: #5098A5 !important;
}

.button-positive {
  background-color: #f85289 !important;
}

#add-to-cart-button {
  bottom: 85px;
}

.cart-popup .popup{
  width: 350px;
}

.cart-popup .button-small {
  padding: 2px 4px 1px;
  font-size: 12px;
}
