<ion-view view-title="Home">
  <ion-header-bar align-title="center" class="bar-positive bar-searchbox">
    <div class="buttons"></div>
    <h1 class="title">Inicio</h1>
  </ion-header-bar>
  <label class="item item-input item-searchbox-bar">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <ion-content class="content-bar-searchbox">
    <ion-list>
      <ion-item class="card-item">
        <div class="home-banner card">
          <h2>Coca-Cola 600ml</h2>
          <span>$10.00</span>
        </div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="card-item" ng-repeat="product in popularProducts">
        <a class="popular-product-link" ui-sref="detail({ id: product.$id })" ion-ripple>
        <div class="card popular-product">
          <div class="image-container">
            <img ng-src="{{ product.photo }}" />
          </div>
          <div class="popular-product-data">
            <h3>{{ product.name }}</h3>
            <span class="popular-product-price">$ {{ product.price }}</span>
            <ul class="popular-product-meta">
              <li>
                <i class="icon ion-location"></i>
                <span>{{ product.shop }}</span>
              </li>
            </ul>
          </div>
        </div>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
